<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            The first time I got choked out was like this 17-year-old, super hot chick, and I was like 13. 
                            And she lived down the street - no, no - and she goes - and I got permission because I was 
                            pretty young, like 12 - and she goes, "I'll have sex with you..." - this is a true story - 
                            "I'll have sex with you if you let me put makeup on you." So, I'm not into gay stuff or anything. 
                            So, the girl puts the makeup on me, and I have sex with her. And she's super hot. And later she 
                            goes, "Now, I'm gonna choke you out." And that relationship went really well until her 
                            30-year-old boyfriend caught me at her place once - cause his mom was working - and 
                            tried to kill me in the parking lot.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Alex Jones</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            So, who am I talking to? I don't know. What's reality? I don't know. When my bird was looking at 
                            my computer monitor, I just thought, whoa. That bird has no idea what he's looking at. 
                            And yet, what does the bird do? Does he panic? No, he can't really panic. He just does the 
                            best he can. Is he able to live in a world where he's so ignorant? Well, he doesn't 
                            really have a choice. Yeah, he can kind of live. Usually, the bird's okay even though 
                            he doesn't understand the world, he can learn what's safe and what's dangerous. So,
                            that's where I've been living.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Terry Davis</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            So, c6 - not the most precise idea, but, you know, countering an imprecise idea
                            with another imprecise idea - always a good idea.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Antonio Radić</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            How much better would have been, if necessary, to destroy North Vietnam 
                            than to lose our first war.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Ira Eaker</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            Well, since that makes you my new boss, take a long look at Manderley's dead body. 
                            Consider that my resignation; I don't have time to write a letter.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">JC Denton</span>
                </a>  
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            Don't believe everything that you read on the internet.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Abraham Lincoln</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            I’m so glad that Alex Jones is being sued into poverty and Oblivion. 
                            The subhuman has literally been reduced to screaming into a 
                            bullhorn whilst walking around aimlessly in circles. He’s 
                            a sad, evil, disturbed being.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Ricky Davila</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            If you are white you’re probably feeling some type of way right now. 
                            I’m not sorry for that. White people have been having a lot of 
                            feelings lately about “reverse racism” as if it’s a thing. 
                            White people made racism, and made sure it is deeply embedded in our 
                            social systems, law, economy, institutions and individuals. So this 
                            provocation is here to make you feel that “white pain”. Breathe 
                            deeply through it. I’m here to destabilize all of our white spaces.
                            This year I photographed a student Zama Mthunzi wearing the words 
                            "Fuck White People" on a t-shirt, in smears of black pain(t). He 
                            was threatened with expulsion, and a case at the Human Rights 
                            Commission. None of the complainants said anything about the 
                            front of the T-shirt that read: “Being Black is Shit”. White 
                            people only had a problem with the back of the shirt.
                            You see white pain demands attention all the time, while black 
                            pain flows constantly. So I made a suit to fuck white people. It 
                            began as an experiment to see what happens when a white body wears 
                            this. It makes people angry, to the point sometimes of violence, 
                            but I can do it, that’s white privilege. I’m here for your pain 
                            because white people think empathy can cure racism but what we
                             must strive for is a complete dismantling of the systems of 
                             power that keep white people racist.
                            Learn to fuck the white in you too. Fuckwhitepeople.org #fuckwhitepeople
                            It is the responsibility of people who experience privilege, 
                            and express oppressive behaviour, to unlearn so that we can 
                            all evolve to our greater potential. To wake. White People 
                            are a problem. Hundreds of years of indoctrination into 
                            white supremacy has allowed us to exchange large parts of our 
                            humanity for comfort. It is not enough to philosophise these 
                            issues into “whiteness”. The problem lies at the root of the white 
                            identity and those that identify as white. This website will
                            explore what it means to be white, the history of how white
                            people were invented, anti-racism and 12 steps to learning to 
                            fuck the white in you too. We are paying back our privilege. You 
                            can too. 
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Dean Hutton</span>
                </a>  
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "quotationContainer">
        <div class = "quotationContents">
            <div class = "upperQuotation">
                <span class = "quote rightQuote">&#8220;</span>
                <div class = "quoteContents">
                    <p class = "quotation">
                        <i>
                            It's my fucking body, and your opinions don't matter.
                        </i>
                    </p>
                </div>
            </div>
            <div class = "lowerQuotation">
                <span class = "authorContribution">-</span>
                <a class = "authorHyperlink">
                <span class = "quoteAuthor">Elise B.</span>
                </a>  
            </div>
        </div>
    </div>
</div>